node_modules/
dist/
coverage/
jest-cache/
tmp/
temp/

.git/
.gitignore

.env
.env.local
.env.development
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
